<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>

  </head>

  <body>
      <% include ./partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        
        <div class="jumbotron jumbotron-fluid my-5">
          <div class="container"></div>
            <h1 class="display-3 text-center">Welcome to Blocipedia</h1>
            <p class="lead text-center">Explore,Learn & Collaborate</p>
            <div class="text-center"> <a href="/users/signup" class="btn btn-primary btn-md">Sign up</a></div>
            <hr>
            </div>
        </div>
       
          <section class="row text-center">
            <section class="col-lg-4">
              <h4 class="card-title">Access the Most interesting Wikis in the planet!</h4>
              <p class="card-text">Share your knowledge and become a hero</p>
            </section>
          
    
            <section class="col-lg-4">
              <h4 class="card-title">Edit and Request for Help</h4>
              <p class="card-text"> Info at your fingertips</p>
            </section>

            <section class="col-lg-4">
                <h4 class="card-title"> Go premium and enjoy anytime upgrades & downgrades</h4>
                <p class="card-text"> Low investment</p>
              </section>

          </section>

        </main>
    </body>
</html>