<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>

  </head>

  <body>
      <% include ./partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        
        <div class="jumbotron jumbotron-fluid my-5">
          <div class="container">
            <h1 class="display-3 text-center">Welcome to Blocipedia</h1>
            <p class="lead text-center">Explore,Learn & Collaborate</p>
            <div class="text-center"> <a href="/users/signup" class="btn btn-primary btn-md">Sign up</a></div>
            <hr>
            </div>
        </div>
       
         <div class= "container">
          <section class="row text-center">
            <section class="col-lg-4">
              <h4 class="card-title">Collaborate!</h4>
              <p class="card-text"> Info at your fingertips</p>
              <% if(currentUser) { %>
                <a href="/users/<%= currentUser.id %>/collaborations" class="btn btn-primary btn-sm">See Collaborations</a>
                <% } %>
                </section>

            <section class="col-lg-4">
                <h4 class="card-title"> Enjoy the VIP treatment!</h4>
                <p class="card-text"> Low investment</p>

                <% if(currentUser && currentUser.role == "standard") { %>
                  <a href="/users/<%= currentUser.id %>/upgrade" class="btn btn-primary btn-sm">Upgrade to Premium</a>
                  <% } %>
              </section>

          </section>
         </div>

        </main>
    </body>
</html>